@font-face {
  font-family: "Raleway";
  font-weight: normal;
  src: url(font/Raleway-Regular.ttf) format("truetype");
    
}
@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url(font/Raleway-Bold.ttf) format("truetype");
}
body {
  font-family: Raleway;
  margin: 0;
}
#blocpage{
  width: 70%;
  margin: auto;
  padding-top: 1%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

/**********DEBUT HEADER**********/

header img{
  width: auto;
  height: 4em;
}
.logonav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
nav ul{
  display: flex;
}
.barrebleue1{
  border-top: 2px solid #0065fc;
  padding: 33px 20px 0 30px;
  color: #0065fc;
}
.barrebleue2{
padding-left: 50px;
color: black
}
.barrebleue3{
  padding-left: 70px;
  color: #0065fc;
  font-weight: bold;
}
header h1{
  font-size: 1.5em;
  font-weight: bold;
}
header p{
  margin-bottom: 30px; 
}
#recherche{
  display: flex;
}
#recherche button{
  border: none;
  background-color: #0065fc;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
#recherche button:focus{
  outline: none;
}
input{
  border: none;
  font-size: 15px;
  font-weight: bold;
  font-family: Raleway;
}
input:focus{
  outline: none;
}
.elem:nth-child(2), td:nth-child(3){
  border: 1px solid rgba(0, 0, 0, 0.11);
}
.elem:nth-child(1){
  height: 52px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgba(0, 0, 0, 0.068);
}
.elem:nth-child(2){
  display: flex;
  align-items: center;
  border-left: none;
  border-right: none;
  padding-left: 5px;
}
::placeholder{
  color: black;
}
.elem:nth-child(3){
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  border: none;
  width: 100px;
  height: 52px;
  display: flex;
  align-items: center;
}
.filtres a {
  border: 2px rgba(0, 0, 0, 0.219) solid;
  border-left: transparent;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0.8em 1.5em;
  margin-left: 50px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: all 1s ease-out;
}
.filtres a:hover, a:focus{
  background-color: #deebff
}
.filtres i:hover{
  background-color: #fff;
}
.filtres p{
  font-weight: bold;
}
.filtres i {
  color: #0065fc;
  background-color: #deebff;
  margin-right: 1em;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  line-height: 21px;
  text-align: center;
  padding: 0.9em;
  margin-left: -50px;
  transition: all 1s ease-in;
}
.filtres {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  min-width: 1250px;
}
#info {
  font-weight: normal;
}
#info i {
  margin-right: 15px;
  margin-bottom: 5%;
  color: #0065fc;
  border: 1px rgba(0, 0, 0, 0.219) solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 5px;
  line-height: 20px;  
}
/**********FIN HEADER***********/

/**********DEBUT SECTION 1**********/
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section1 {
  width: 65%;
  height: 550px;
  background-color: #F2F2F2;
  padding: 30px 0 50px 0;
  border-radius: 20px;
}
#section1 h1{
  padding-left: 30px;
}
#positionfig{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 470px;
  width: auto;
}
figure img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 14em;
  height: 100px;
  object-fit: cover;
}
figure{
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.164);
  border-radius: 25px;
  width: 14em;
  padding: 5px 5px 0 5px;
  margin: 0 0 10px 0;
}
figcaption{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 8px;
}
figcaption p{
  line-height: 4px;
}
figcaption i{
  color: #0065fc;
}
figure a{
  color: black;
}
.descriptionbold{
  font-weight: bold;
}
#afficherplus{
  padding: 20px 0 0 30px;
}
#afficherplus a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/**********FIN SECTION1**********/

/**********DEBUT SECTION2**********/

#section2 {
  background-color: #F2F2F2;
  border-radius: 20px;
  height: 630px;
  width: 30%;
}
#popicon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 0 0;
}
#popicon i{
  font-size: 1.5em;
}
#positionfig2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: auto;
}
.figsec2{
  display: flex;
  width: 20em;
}
.figsec2 img{
  width: 8em;
  height: 97%;
  border-radius: 20px 0 0 20px;
}
.figsec2 p{
  line-height: 20px;
}

/**********FIN SECTION2**********/

/**********DEBUT SECTION3**********/

.blocsection3{
  display: grid;
  grid-template-rows: 100px 150px 150px 150px;
  grid-template-columns: 360px 360px 360px 360px;
  margin-bottom: 100px;
}
.blocsection3 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blocsection3 h1{
  grid-column: 1 / 5;
  margin-top: 70px;
}
#vieuxport{
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  position: relative;
}
#vieuxport img{
  width: 280px;
  height: 350px;
  object-fit: cover;
  padding-bottom: 50px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.164);
  border-radius: 15px; 
}
#vieuxport p{
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-weight: bold;
}
#pomegues{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  margin-bottom: 35px;
  position: relative;
}
#pomegues img{
  height: 160px;
  width: 280px;
  object-fit: cover;
  padding-bottom: 50px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.164);
  border-radius: 15px;
}
#pomegues p{
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-weight: bold;
}
#frioul{
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  margin-top: 100px;
  position: relative;
}
#frioul img{
  height: 100px;
  width: 280px;
  object-fit: cover;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.164);
  border-radius: 15px;
  padding-bottom: 50px;
}
#frioul p{
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-weight: bold;
}
#calanques{
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  position: relative;
}
#calanques img{
  height: 350px;
  width: 280px;
  object-fit: cover;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.164);
  border-radius: 15px;
  padding-bottom: 50px;
}
#calanques p{
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-weight: bold;
}
#dame{
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  margin-bottom: 70px;
  position: relative;
}
#dame img{
  height: 130px;
  width: 280px;
  object-fit: cover;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.164);
  border-radius: 15px;
  padding-bottom: 50px;
}
#dame p{
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-weight: bold;
}
#longchamp{
  grid-column: 4 / 5;
  grid-row: 3 / 5;
  margin-top: 70px;
  position: relative;
}
#longchamp img{
  height: 130px;
  width: 280px;
  object-fit: cover;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.164);
  border-radius: 15px;
  padding-bottom: 50px;
}
#longchamp p{
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-weight: bold;
}
.blocsection3 a{
  color: black
}
/**********FIN SECTION3**********/

/**********DEBUT FOOTER**********/

footer{
  display: flex;
  background-color: #F2F2F2;
  height: 200px;
}
footer ul{
  margin: 0;
  padding: 0;
}
footer li{
  padding-bottom: 10px;
}
footer h1{
  font-size: 18px;
}
footer a{
  color: black;
}
.footerbloc1{
  margin: 20px 0 0 230px;
}
.footerbloc2{
  margin: 20px 0 0 300px;
}

/*button{
  border: 1px solid black;
  font-size: 17px;
  border-radius: 25px;
  padding: 0;
}
button i{
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}*/
.actixl{
  width: 280px;
}
.actixl img{
  width: 280px;
  height: 350px;
  object-fit: cover;
  
}
.actixl p{
  padding-bottom: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}